.game-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.top-bar,
.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.top-bar {
    height: 10%;
    border-bottom: 1px solid black;
}

.bottom-bar {
    height: 10%;
    border-top: 1px solid black;
    justify-content: space-around;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
}

.logo img {
    height: 100%;
    max-height: 80px;
    max-width: 100%;
}

.timer,
.multiplier,
.streak,
.close,
.image,
.hints,
.year-scroller,
.guess-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.logo {
    width: 15%;
}

.timer,
.multiplier,
.streak {
    width: 20%;
}

.close {
    width: 5%;
}

.image {
    flex: 3;
    margin-right: 10px;
}

.hints {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.year-scroller {
    width: 45%;
}

.guess-button {
    width: 20%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.guess-button:hover {
    background-color: #0056b3;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.proxy-switch-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000000;
    /* High z-index */
    background-color: #ff0000;
    /* Red background for Heroku */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.proxy-switch-button.blue {
    background-color: #0000ff;
    /* Blue background for the alternative proxy */
}